.body_bg {
  position: absolute;
  background-image: url("../images/orsv_background.jpg");
  background-color: gray;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-blend-mode: multiply;
}
